* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #303A52;
  font-family: 'Nunito', sans-serif;
  color: #A5B2D3;
}

a {
  text-decoration: none;
  color: white;
  font-size: .8rem;
  transition: .3s ease;
  ;
}

a:hover {
  opacity: 0.7;
}

ol li::marker {
  color: #9E579D;
  font-size: 1rem;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
  color: #FC85AE;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn {
  position: absolute;
  top: 8%;
  right: 15%;
  border: none;
  margin-left: 65%;
  background: #FC85AE;
  /* display: block; */
  color: #303A52;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 1.5em;
  border-radius: 0.2em;
  transform: rotate(27deg);
  transition: .3s ease;
  cursor: pointer;
  box-shadow: 0 0 2px 2px #303A52;
}


.btn:hover {
  transform: rotate(0);
}

.info {
  display: flex;
  gap: 10px;
}

.item {
  margin-bottom: 1rem;
}